- include: repos/main.yml

- name: Install apt packages
  apt:
    state: present
    name:
      - curl
      - wget
      - ansible
      - ansible-lint
      - python-apt
      - python-setuptools
      - ent
      - jq
      - fzf
      - google-chrome-stable
      - git
      - meld
      - python3-pip
      - shellcheck
      - tilix
      - pwgen
      - sysstat
      - zip
      - unzip
      - vim
      - vlock
      - rsync
      - build-essential
      - apt-file
      - software-properties-common
      - ppa-purge
      - powertop
      - tlp
      - tlp-rdw
      - atom=1.46.0  # Version locked due bug in Rust Syntax Highlighting: https://github.com/atom/atom/issues/20828
      - gpg
      - golang-go
      - uidmap
      - dconf-editor
      - gparted
      - handbrake
      - flameshot  # TODO: Test and revert to shutter if needed
      - gimp
      - neofetch
      - kdenlive
      - virtualbox
      - inotify-tools
      - lm-sensors
      - mesa-utils
      - pigz
      - p7zip-full
      - iotop
      - iftop
      - graphviz
      - dos2unix
      - whois
      - geoip-bin
      - remmina
      - binutils-x86-64-linux-gnu
      - gnome-shell-extension-prefs
      - gnome-tweaks
      - libssl-dev
      - vlc
      - nomacs
      - ripgrep

- name: Lock required package versions
  dpkg_selections:
    name: "{{ item }}"
    selection: hold
  with_items:
    - atom
